body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Ouroboros";
  src: url("./fonts/Ouroboros-Regular.woff") format("woff"),
}

@font-face {
  font-family: "Cantique";
  src: url("./fonts/Cantique-Normal.woff") format("woff"),
}

.home-image {
  position: relative;
  width: 100%;
  /* margin-left: 50%; */
}

.home-text-header {
  color: white;
  position: absolute;
  top: 110px;
  left: 40px;
  font-family: "Cantique";
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  width: 50%;
  z-index: 1;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


.home-text-header:hover {
  animation: bounce 5s;
}

.home-description-one {
  color: white;
  position: absolute;
  top: 250px;
  left: 40px;
  font-family: "Cantique";
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  width: 50%;
  z-index: 1;
}

.home-description-two {
  color: white;
  position: absolute;
  top: 400px;
  left: 40px;
  font-family: "Cantique";
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  width: 50%;
  z-index: 1;
}

.home-description-three {
  color: white;
  position: absolute;
  top: 570px;
  left: 40px;
  font-family: "Cantique";
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  width: 50%;
  z-index: 1;
}

.header-title {
  font-family: "Ouroboros";
  font-size: 25px;
}

.header-name {
  font-family: "Cantique";
  font-size: 20px;
  font-weight: bold;
}

.spooky-index-image {
  width: 100%;
}

.card-text {
  text-align: center;
}

.eye-button {
  padding: 8px 25px;
}

.visit-image {
  width: 100%
}