body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Ouroboros";
  src: url("./fonts/Ouroboros-Regular.woff") format("woff"),
}

@font-face {
  font-family: "Cantique";
  src: url("./fonts/Cantique-Normal.woff") format("woff"),
}

.header-title {
  font-family: "Ouroboros";
  font-size: 25px;
}

.header-name {
  font-family: "Cantique";
  font-size: 20px;
  font-weight: bold;
}

.spooky-index-image {
  width: 100%;
}

.card-text {
  text-align: center;
}

.eye-button {
  padding: 8px 25px;
}

.visit-image {
  width: 100%
}